.product
{
    width: fit-content;
    padding: 20px;
    background-color: lightgray;
    margin: 10px;
}

.user 
{
    background-color: skyblue;
    padding: 20px;
    margin: 20px;
    width: fit-content;
}

.country 
{
    width: fit-content;
    padding: 20px;
    background-color: lightblue;
    margin: 10px;
}